body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.answerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 400px;
}

.answerOption {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
        margin-bottom: 8px;
	padding:12px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.answerOption:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.answerOption:active {
	position:relative;
	top:1px;
}
